[Unit]
Description=Control the vending machine
After=network.target

[Service]
Environment="DB_HOST=" "DB_USER=" "DB_PASSWORD="
User=sshow
WorkingDirectory=/home/sshow/vending
ExecStart=/usr/bin/node /opt/vending/bin/vend.js
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
