[Unit]
Description=Control the vending machine
After=network.target

[Service]
Environment="DB_HOST=" "DB_USER=" "DB_PASSWORD=" "CARD_AUTH_USER=" "CARD_AUTH_PASS="
WorkingDirectory=/opt/vending
ExecStart=/usr/bin/node bin/vend.js
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
